@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.children-items {
  margin-left: 16rem;
}

.p-card {
  min-width: 22rem;
}

@media (max-width: 786px) {
  .children-items {
    margin-left: 0rem;
  }
  .sidebar {
    display: none !important;
  }
}
